<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Agregar Proveedor</h4>
              <p class="card-category">Inserte los datos del Proveedor</p>
            </div>
            <div class="card-body">
              <form #proveedoresForm="ngForm" (ngSubmit)="onSubmit(proveedoresForm)">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Cedula" type="text" name="Cedula" #name="ngModel" [(ngModel)]="proveedorServicio.selectedProveedor.Cedula" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombre" type="text" name="Nombre" #name="ngModel" [(ngModel)]="proveedorServicio.selectedProveedor.Nombre" required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Apellidos" type="text" name="Apellidos" #name="ngModel" [(ngModel)]="proveedorServicio.selectedProveedor.Apellidos" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Producto" type="text" name="Producto" #name="ngModel" [(ngModel)]="proveedorServicio.selectedProveedor.producto" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Fecha de Ingreso" type="date" name="fechaIngreso" #name="ngModel" [(ngModel)]="proveedorServicio.selectedProveedor.fechaIngreso" required>
                    </mat-form-field>
                  </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Agregar</button>
                <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="goToPage()">Regresar</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
